.watcher-logo{
	margin: 3rem 0;
	padding-left:3.5rem;
	font-size: 3.6rem;
	letter-spacing: .1rem;
	mix-blend-mode: overlay;

	background-image:  url('./../images/eye.svg');
	background-repeat: no-repeat;
	background-size: 3.25rem;
	background-position-y: 50%;
	background-position-x: left;

}