.new-watcher{
	width:3.5rem;
	height:3.5rem;

	display:block;
	margin-left: auto;
	padding:1rem;

	font-size: 1.6rem;
	color:white;
		
	border:none;
	border-radius:3px;
	cursor: pointer;

	opacity: .75;

	mix-blend-mode: overlay;

	background-color: transparent;
	background-image: url('./../images/plus.svg');
	background-size: 100%;
	background-position: center;

	transition: opacity .15s ease-in-out;

	&:hover{
		opacity: 1;
	}
}